.subnav {
    padding: .5rem 0;
    display: none;
    width: 16.5rem;
    background-color: $blue;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, .2);
}

.subnav__link {
    display: block;
    padding: .45rem 1.2rem;
    font-size: 1.2rem;
    color: $white;
    text-decoration: none;
    transition: background-color .2s linear;

    &:hover {
        background-color: darken($blue, 5%);
        text-decoration: none;
    }
}
