.tags {
    display: flex;
    flex-wrap: wrap;
}

.tags__item {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .4rem .9rem;

    border-radius: 3px;
    background-color: #EA8C1E;

    font-size: 1.1rem;
    color: $white;
    text-align: center;
    line-height: 1.3;
}
