body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: #000;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto; /*позиционирование по центру*/
}

.header {
    background: url('../img/header-bg.jpg')  no-repeat center top / cover;
    padding-top: 57px;
    padding-bottom: 322px;
}
.header a {
    color: #fff;
}

.menu {
    display: flex;
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 69px;
}

.offer {
    text-transform: uppercase;
    color: #fff;
}

.offer p {
    font-size: 30px;
    letter-spacing: 0.1em;
    margin-top: 216px;
}

.offer h1 {
    font-size: 100px;
    margin-top: -9px;
    margin-bottom: 19px;
    letter-spacing: 0.02em;
}

.btn {
    font-size: 17px;
    letter-spacing: 0.1em;
    text-decoration: none;
    border: solid #fff 1px;
    text-align: center;
    display: block;
    padding: 17px 23px;
    width: 238px;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #fff;
    color: #000;
}

section {
    padding-top: 113px;
}

section h2 {
    font-size: 50px;
    margin-bottom: 58px;
}

section h3 {
    font-size: 25px;
    margin-bottom: 32px;
}

.description {
    display: flex;
    justify-content: space-between;
}

.desc-left, .desc-right {
    width: 564px;
}

.description p {
    font-family: 'Open Sans';
    font-weight: 400;
    text-align: justify;
    line-height: 1.62em;
}

.gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
}

.gallery img {
    transition: all 0.5s ease;
}

.gallery img:hover {
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
    transform: scale(1.05);
}
