body {
    padding: 0;
    margin: 0;
    font-family: 'Anton', sans-serif;
    color: #000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

ul, li {
    display: block;
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto; /*позиционирование по центру*/
}

.header {
    background: url('../img/header-bg.jpg')
        center top / cover no-repeat;
    padding-top: 57px;
}
.header a {
    color: #fff;
}

.menu {
    display: flex;
}

.menu li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.menu li {
    margin-right: 40px;
}

.tel {
    font-size: 17px;
    text-decoration: none;
    margin-left: auto;
}

.nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 69px;
}
