<aside class="sidebar">
    <div class="sidebar__header">
        <img src="../assets/images/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="profile">
            <img src="https://placehold.it/100" alt="" class="profile__avatar">
            <div class="profile__name">Диас Малибеков</div>
            <div class="profile__prof">Блог front-end разработчика</div>

            <ul class="social">
                <li class="social__item">
                    <a href="#!" class="social__link" target="_blank">
                        <img src="../assets/images/instagram.svg" alt="inst">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#!" class="social__link" target="_blank">
                        <img src="../assets/images/vk.svg" alt="vk">
                    </a>
                </li>
                <li class="social__item">
                    <a href="#!" class="social__link" target="_blank">
                        <img src="../assets/images/pinterest.svg" alt="pint">
                    </a>
                </li>
            </ul>

            <div class="profile__text">
                <p>Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2020 года. Работал в нескольких ИТ компаниях.</p>
            </div>
        </div> <!-- PROFILE ENDS -->
    </div> <!-- SIDEBAR ENDS -->
    <div class="sidebar__footer">
        <a href="#!" class="btn btn--red">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>
